.additional {
  border: none;
}

.form_additional {
  .reset-fieldset;
  margin-top: 23px;
}

.additional__legend {
  font-size: 24px;
  line-height: 26px;
}

.additional__list {
  .reset-list;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.additional__input {
  margin: 0;
}
