.additional-good {
  padding-top: 13px;
  padding-bottom: 19px;
}

.additional-good__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @mostly-black;
}

.additional-good__list {
  .secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: @very-dark-gray;
}
