.basic-customer-info {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @very-dark-gray;
  border: none;
}

.basic-customer-info__list {
  .reset-list;
}

.basic-customer-info__input::placeholder {
  .main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @very-dark-gray;
}
