.button {
  display: block;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: @moderate-green;
  color: @white;

  &--good {
    font-size: 16px;
    line-height: 20px;
  }

  &--special {
    font-size: 16px;
    line-height: 20px;
    background-color: @very-light-gray;
    color: @very-dark-gray;
  }

  &:hover {
    background-color: @dark-green;
  }

  &:focus {
    color: fade(@white, 30%);
  }
}


@media (min-width: @tablet-width) {
  .button--tablet-promo {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.button--form {
  width: 100%;
  height: 40px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}
