.changes {
  .main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.changes__list {
  .reset-list;
  margin-top: 42px;
}

.changes__item--after {
  display: none;
}

.changes__range-filter {
  box-sizing: border-box;
  padding-bottom: 25px;
}
