.contacts {
  border: none;
}

.form__contacts {
  .reset-fieldset;
  margin-top: 26px;
}

.contacts__legend {
  font-size: 24px;
  line-height: 26px;
}

.contacts__list {
  .reset-list;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @very-dark-gray;
}

.contacts__input::placeholder {
  .main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @very-dark-gray;
}
