.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 163px;
  }
}

.copyright__link {
  color: @very-dark-gray;
  font-size: 16px;
  line-height: 18px;
}
