.example {
  .main-font;
  font-style: normal;
  font-weight: normal;
  color: @black;
}

.example__title-container {
  background-color: @alt-very-light-gray;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.example__main-part-container {
  background-color: @alt-very-light-gray;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.example__changes {
  background-color: @alt-very-light-gray;
}

.example__wrapper {
  .wrapper-mobile;

  @media (min-width: @tablet-width) {
    position: relative;
    .wrapper-tablet;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
    display: flex;
  }
}

.example__title {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-top: 43px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  .secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: @very-dark-gray;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 63px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @tablet-width) {
  .example__statistics {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  .reset-list;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.example__item {
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid @light-gray;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 77px;
    margin-bottom: 255px;
  }
}

@media (min-width: @tablet-width) {
  .example__item:first-child {
    margin-right: 42px;
  }
}

.example__term {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition {
  position: absolute;
  background-position: 0 0;
  top: 47px;
  left: 17px;
  width: 77px;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
  .secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  z-index: 5;
  background-color: @alt-very-light-gray;

  @media (min-width: @tablet-width) {
    width: 142px;
    top: 67px;
    left: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }
}

@media (min-width: @tablet-width) {
  .example__item:first-child .example__definition {
    width: 114px;
    top: 67px;
    left: 23px;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }
}

.example__feature {
  margin: 0;
  padding-top: 34px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 11px;
    width: 174px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .example__main-part {
    display: flex;
    flex-direction: column;
  }
}
