.example {
  background-color: @alt-very-light-gray;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: @black;
}

.example__wrapper {
  margin: 0 auto;
  margin-top: 42px;
  width: 280px;
}

.example__title {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 40px;
}

.example__description {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @very-dark-gray;
}

.example__term {
  font-size: 24px;
  line-height: 24px;
}

.example__definition {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example__feature {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__changes {
  margin-top: 42px;
}

.changes__list {
  .list-style;
}
