.features {
  .secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @very-dark-gray;
}

.features__wrapper {
  .wrapper-mobile;
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
  }
}

.features__title {
  margin: 0;
  padding: 0;
  .main-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: @black;
}

.features__list {
  .reset-list;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    .features__item {
      width: 230px;
    }

    .features__item:nth-child(odd) {
      margin-right: 153px;
    }

    .features__item:nth-child(even) {
      margin-right: 78px;
    }
  }
}

.features__item:first-child {
  margin-top: 40px;
}

.features__item {
  position: relative;
  margin-top: 20px;
}

.features__description {
  margin: 0;
  padding: 0;
  padding-left: 80px;
}

.features__description--vital::before {
  .features-icon-mobile;
  background-image: url("../img/vital-icon-mobile.svg");
}

.features__description--powder::before {
  .features-icon-mobile;
  background-image: url("../img/powder-icon-mobile.svg");
}

.features__description--nutrition::before {
  .features-icon-mobile;
  background-image: url("../img/nutrition-icon-mobile.svg");
}

.features__description--achievments::before {
  .features-icon-mobile;
  background-image: url("../img/achievments-icon-mobile.svg");
}
