.form__basic-customer-info {
  .reset-fieldset;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.form__first-two-fieldsets {
  @media (min-width: @tablet-width) {
    padding-left: 41px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    height: 196px;
  }
}

.form__radio {
  .reset-fieldset;
}

.form__contacts {
  .reset-fieldset;
  margin-top: 24px;

  @media (min-width: @tablet-width) {
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.form__comment {
  .reset-fieldset;
  margin-top: 24px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
  }
}

.form_additional {
  .reset-fieldset;
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    margin-bottom: -14px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 62px;
    margin-bottom: 10px;
  }
}


.form__button-legend {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form__submit {
  margin-top: 41px;
  border: none;
  outline: none;
  .main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: @moderate-green;
  color: @white;

  @media (min-width: @tablet-width) {
    margin-left: 40px;
    margin-bottom: 71px;
    margin-top: 72px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 55px;
    margin-bottom: 84px;
    margin-left: 0;
  }
}


.form__legend {
  display: block;
  margin-top: 21px;
  .secondary-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-top: 88px;
    margin-left: 61px;
    font-size: 16px;
    height: 16px;

    @media (min-width: @desktop-width) {
      margin-top: 73px;
      margin-left: 81px;
    }
  }
}
