.goods__list {
  .reset-list;

  @media (min-width: @tablet-width) {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-top: 120px;
  }
}

.goods__item {
  @media (min-width: @tablet-width) {
    margin-top: 140px;
    padding: 0;

    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
      padding-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 144px;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 0;
    }
  }
}
