.good {
  position: relative;
  padding-bottom: 11px;
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid @very-light-gray-shade-1;

  &:nth-child(2) {
    padding-top: 16px;
    padding-bottom: 0;
  }

  &:nth-child(n + 3) {
    padding-top: 6px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 40px;
    width: 324px;
    border: none;
    background-color: @very-light-gray;

    &:nth-child(n + 3) {
      padding-top: 0;
      margin-top: 137px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;

    &:nth-child(n + 3) {
      padding-top: 0;
      margin-top: 142px;
    }
  }
}

.good__main-content {
  margin-top: 6px;
  min-width: 140px;
  order: 2;

  @media (min-width: @tablet-width) {
    min-width: 250px;
  }

  @media (min-width: @desktop-width) {
    min-width: 169px;
  }
}

.good__title {
  margin: 0;
  padding: 0;
  max-width: 76px;
  height: 41px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @mostly-black;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding-top: 158px;
    max-width: 155px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 157px;
    line-height: 21px;
  }
}

.good__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  .secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: @very-dark-gray;

  &:first-of-type {
    margin-top: 14px;
  }

  &:last-of-type {
    margin-bottom: 5px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid @light-gray;
    font-size: 16px;

    &:first-of-type {
      margin-top: 27px;
      padding-top: 0;
    }
  }
}

.good__img {
  margin-top: 11px;
  width: auto;
  height: auto;
  order: 1;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 303px;
    left: 78px;
    width: auto;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    bottom: 311px;
    left: 39px;
  }
}

.good__order {
  margin-bottom: 14px;
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    margin-top: 24px;
    margin-bottom: 40px;
  }
}
