.page-header__wrapper {
  .wrapper-mobile;

  @media (min-width: @tablet-width) {
    .wrapper-tablet;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
  }
}

.page-header-top {
  display: flex;
  justify-content: space-between;
  min-height: 66px;
}

.page-header__logo-mobile {
  display: block;
  margin-top: 11px;
}

.page-header__logo {
  display: block;
  margin-top: 24px;
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

.page-header__button--burger {
  position: relative;
  top: 25px;
  width: 24px;
  height: 18px;
  background-image: url("../img/header-burger-button.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.page-header__button--close {
  position: relative;
  top: 25px;
  width: 20px;
  height: 20px;
  background-image: url("../img/header-close-button.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
