.page-catalog {
  .main-font;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
}

.page-catalog__wraper {
  .wrapper-mobile;

  @media (min-width: @tablet-width) {
    .wrapper-tablet;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
  }
}

.page-catalog__title {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  border-top: 1px solid @very-light-gray-shade-1;

  @media (min-width: @tablet-width) {
    padding-top: 64px;
    font-size: 60px;
    line-height: 60px;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }
}
