.page-footer {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: @very-dark-gray;
}

.page-footer__wrapper {
  margin: 0 auto;
  width: 280px;
}

.page-footer__contacts {
  padding: 28px 19px;
}

.page-footer__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
}

.page-footer__text {
  font-size: 14px;
  line-height: 20px;
}

.page-footer__map {
  display: block;
  margin: 0 auto;
}

.logo__footer {
  display: block;
  margin-top: 39px;
  text-align: center;
}

.copyright__link {
  color: @very-dark-gray;
  font-size: 16px;
  line-height: 18px;
}
