.page-footer {
  .secondary-font;
  font-style: normal;
  font-weight: normal;
  color: @very-dark-gray;
}

.page-footer__wrapper-contacts {
  .wrapper-mobile;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    .wrapper-tablet;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
  }
}

.page-footer__wrapper {
  .wrapper-mobile;

  @media (min-width: @tablet-width) {
    .wrapper-tablet;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
  }
}

.page-footer__contacts {
  padding: 28px 19px;
  background-color: @white;
}

.page-footer__title {
  .main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
}

.page-footer__text {
  font-size: 14px;
  line-height: 20px;
}

.page-footer__links {
  background-color: @very-light-gray;
}

.page-footer__logo {
  display: block;
  padding-top: 39px;
  text-align: center;
}

.page-footer__map {
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page-footer__map {
    width: 100%;
  }
}
