.production {
  .main-font;
  font-style: normal;
  font-weight: normal;
  color: @black;
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  .wrapper-mobile;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
  }
}

.production__list {
  .reset-list;
}

.production__item {
  background-color: @very-light-gray;
}

.production__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.production__description {
  .secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: @very-dark-gray;
}

.production__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @desktop-width) {
  .production__list {
    display: flex;
    justify-content: space-between;
  }

  .production__item {
    width: 570px;
  }
}
