.promo {
  .main-font;
  font-style: normal;
  font-weight: normal;
  color: @black;
}

.promo__background {
  display: block;
  margin: 0 auto;
}

.promo__wrapper {
  .wrapper-mobile;

  @media (min-width: @tablet-width) {
    .wrapper-tablet;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
