.promo {
  position: relative;
  .main-font;
  font-style: normal;
  font-weight: normal;
  color: @black;
}

.promo__background {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: @moderate-green;
  z-index: -3;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo__background-green-layer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -2;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo__wrapper {
  .wrapper-mobile;
  padding-top: 27px;
  color: @white;

  @media (min-width: @tablet-width) {
    position: relative;
    .wrapper-tablet;
    margin-top: 62px;
    color: @black;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin-left: 87px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-left: 88px;
    padding-top: 41px;
    width: 283px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__can-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .promo__can-mobile {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .promo__link {
    position: absolute;
    background-position: 0 0;
    top: 252px;
    left: 112px;
  }
}
