.radio {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @mostly-black;
  border: none;
  border-top: 1px solid @very-light-gray-shade-3;
  border-bottom: 1px solid @very-light-gray-shade-3;

  @media (min-width: @tablet-width) {
    border: 1px solid @very-light-gray-shade-3;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.radio__list {
  .reset-list;
  margin-top: 22px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}


.radio__item {
  display: flex;
  align-items: center;
  padding-left: 45px;
  padding-top: 6px;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding-left: 84px;
    padding-top: 5px;
    margin-bottom: 22px;

    &:nth-child(2) {
      margin-bottom: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 87px;
    padding-top: 5px;
    margin-bottom: 22px;
  }
}

.radio__label {
  position: relative;
}

.radio__input + label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-position: 0 0;
  background-image: url("../img/radiobutton-off-mobile.svg");
  background-repeat: no-repeat;
  top: -6px;
  left: -45px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -57px;
    background-image: url("../img/radiobutton-off.svg");
  }
}

.radio__input:hover + label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-position: 0 0;
  background-image: url("../img/radiobutton-off-hover-mobile.svg");
  background-repeat: no-repeat;
  top: -6px;
  left: -45px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -57px;
    background-image: url("../img/radiobutton-off-hover.svg");
  }
}

.radio__input:disabled + label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-position: 0 0;
  background-image: url("../img/radiobutton-off-disabled.svg");
  background-repeat: no-repeat;
  top: -6px;
  left: -45px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -57px;
    background-image: url("../img/radiobutton-off-disabled.svg");
  }
}

.radio__input:checked + label::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-position: 0 0;
  background-image: url("../img/radiobutton-on-mobile.svg");
  background-repeat: no-repeat;
  top: -6px;
  left: -45px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -57px;
    background-image: url("../img/radiobutton-on.svg");
  }
}

.radio__input:checked:hover + label::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-position: 0 0;
  background-image: url("../img/radiobutton-on-hover-mobile.svg");
  background-repeat: no-repeat;
  top: -6px;
  left: -45px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -57px;
    background-image: url("../img/radiobutton-on-hover.svg");
  }
}

.radio__input:checked:disabled + label::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-position: 0 0;
  background-image: url("../img/radiobutton-on-disabled-mobile.svg");
  background-repeat: no-repeat;
  top: -6px;
  left: -45px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -57px;
    background-image: url("../img/radiobutton-on-disabled.svg");
  }
}
