.range-filter {
  padding-bottom: 37px;
}

@media (min-width: @tablet-width) {
  .range-filter__controls {
    padding-top: 375px;
  }
}

.range-filter__scale {
  position: relative;
  margin: 0 auto;
  margin-top: 33px;
  width: 84px;
  height: 14px;
  border: 1px solid @light-gray;
  border-radius: 6px;
  background-color: @white;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 170px;
    margin-top: 0;
    width: 428px;
    height: 6px;
    border: none;
    background-color: @very-light-gray-shade-2;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 385px;
    left: -40px;
    margin-top: 0;
    width: 428px;
    height: 6px;
    border: none;
    background-color: @very-light-gray-shade-2;
  }
}

.range-filter__bar {
  position: absolute;
  background-position: 0 0;
  top: 3px;
  left: 6px;
  height: 6px;
  width: 35px;
  border-radius: 6px;
  background-color: @moderate-green;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.range-filter__scale--before::before {
  position: absolute;
  content: "Было";
  background-position: 0 0;
  top: -4px;
  left: -55px;

  @media (min-width: @tablet-width) {
    top: -13px;
    left: -71px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    border-bottom: 1px dotted @light-gray;
  }
}

.range-filter__scale--after::after {
  position: absolute;
  content: "Стало";
  background-position: 0 0;
  top: -4px;
  left: 101px;

  @media (min-width: @tablet-width) {
    top: -13px;
    left: 452px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    border-bottom: 1px dotted @light-gray;
  }
}

.range-filter__toggle {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 370px;
    left: 353px;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 13px solid @white;
    background-color: @moderate-green;
    border-radius: 50%;
    box-shadow: 0 1px 3px @light-gray;
  }

  @media (min-width: @desktop-width) {
    top: 371px;
    left: 161px;
  }
}
