//Обнуление стиля списка
.reset-list() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//Обнуление стиля fieldset

.reset-fieldset() {
  margin: 0;
  padding: 0;
}

//Шрифты

.main-font() {
  font-family: "Oswald", "Arial", sans-serif;
}

.secondary-font() {
  font-family: "Arial", sans-serif;
}

//Контейнер

.wrapper() {
  margin: 0 auto;
  width: 280px;
}

.wrapper-mobile() {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
}

.wrapper-tablet() {
  margin: 0 auto;
  width: 709px;
  padding: 0 30px;
}

.wrapper-desktop() {
  margin: 0 auto;
  width: 1220px;
  padding: 0 110px;
}

//Production-mobile

.features-icon-mobile() {
  position: absolute;
  content: "";
  background-position: 0 0;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
}
