//Colors
@black: #000;
@white: #fff;
@very-dark-gray: #444444;
@mostly-black: #222222;
@mostly-black-alt: #111111;
@light-gray: #cdcdcd;
@very-light-gray: #f2f2f2;
@very-light-gray-shade: #e6e6e6;
@very-light-gray-shade-1:#d9d9d9;
@alt-very-light-gray: #eaeaea;
@moderate-green: #68b738;

//Viewport width

@tablet-width: 768px;
@desktop-width: 1440px;
